{
  "extends": "standard-with-typescript",
  "parserOptions": {
    "project": "./customer/tsconfig.json",
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "jest.*",
    "jest.*",
    "jest.*",
    "dist/",
    "node_modules/",
    "coverage/"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/consistent-type-imports": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/space-before-function-paren": "off",
    "@typescript-eslint/consistent-type-exports": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off"
  }
}
